.container {
    display: grid;
    grid-template-rows: 2fr 1fr;
    text-align: center;
    align-items: center;
    width: 350px;
    height: 350px;
    justify-self: start;

    border: 3px solid black;
    border-radius: 15px;
    background: #b1c3bb;

}

.counter {
    font-size: 5rem;
    margin: 30px;
    padding: 25px;
    border: 3px solid black;
    border-radius: 15px;
    color: #8effa5;
}

.counterRed {
    font-size: 5rem;
    margin: 30px;
    padding: 25px;
    border: 5px solid #e36363;
    border-radius: 15px;
    color: #e36363;
    background: black;
}

.buttons button{
    margin: 5px;
    width: 80px;
}