.container {
    display: grid;
    grid-template-rows: 2fr 1fr;
    width: 350px;
    height: 350px;
    justify-self: end;

    text-align: center;
    align-items: center;

    border: 3px solid black;
    border-radius: 15px;
    background: #b1c3bb;
}

.values {
    display: grid;
    grid-template-rows: 1fr 1fr;

    border: 3px solid black;
    border-radius: 15px;
    margin: 20px;
    padding: 30px 0 30px 0;
}

.startValue {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.maxValue {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.maxValue input {
    /*width: 50px;*/
    /*text-align: end;*/
    /*outline: none;*/
    /*border: 3px solid #8effa5;*/
    /*border-radius: 5px;*/
    /*padding: 5px;*/
    /*margin: 5px;*/
}
.startValue input {
    /*width: 50px;*/
    /*text-align: end;*/
    /*outline: none;*/
    /*border: 3px solid #8effa5;*/
    /*border-radius: 5px;*/
    /*padding: 5px;*/
    /*margin: 5px;*/
}

/*.maxValueRed {*/
/*    display: grid;*/
/*    grid-template-columns: 1fr 1fr;*/
/*    align-items: center;*/

/*    !*width: 50px;*!*/
/*    !*text-align: end;*!*/
/*    !*outline: none;*!*/
/*    !*border: 3px solid #e36363;*!*/
/*    !*border-radius: 5px;*!*/
/*    !*padding: 5px;*!*/
/*    !*margin: 5px;*!*/
/*    !*background: #eabdbd;*!*/
/*}*/

/*.startValueRed {*/
/*    display: grid;*/
/*    grid-template-columns: 1fr 1fr;*/
/*    align-items: center;*/

/*    !*width: 50px;*!*/
/*    !*text-align: end;*!*/
/*    !*outline: none;*!*/
/*    !*border: 3px solid #e36363;*!*/
/*    !*border-radius: 5px;*!*/
/*    !*padding: 5px;*!*/
/*    !*margin: 5px;*!*/
/*    !*background: #eabdbd;*!*/
/*}*/

.inputStyle {
    width: 50px;
    text-align: end;
    outline: none;
    border: 3px solid #8effa5;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

.inputStyleRed {
    width: 50px;
    text-align: end;
    outline: none;
    border: 3px solid #ff0030;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    color: #ff0030;
    background: #f6b3b3;
}




.button button{
    width: 150px;
}

